doctype html
html
	head
		title unquote
		meta(name="viewport", content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
		link(rel="stylesheet", href="/styles/index.css")

		link(rel="import", href="/components")
		link(rel="import", href="/components/kyes-header")

	body(unresolved, touch-action="auto")
		kyes-header
			core-toolbar
				paper-tabs#tabs(selected="all", self-end)
					paper-tab(name="all") ALL
					paper-tab(name="favourites") favourites

		script(src="/scripts/index.js")
